{% extends "nav/sidenav.html" %} {% block content %}

<div
  class="uk-height-large uk-card uk-card-secondary uk-card-body uk-flex uk-flex-middle"
>
  <div class="uk-grid-match" uk-grid>
    <div>
      <h1 class="uk-text-name uk-heading-small uk-text-uppercase">
        Abhijit Acharya
      </h1>
      <p>Senior Security Engineer @ ZS</p>
    </div>
    <div>
      <p>
        Security Engineer and Red Teamer with over <em>2.5 years</em> of
        experience in Web, API, Cloud, and Mobile Application Penetration
        testing. <br />
        Enabled holistic risk reduction based on inputs from source code and
        architecture reviews and resolution of all outstanding security findings
        by collaborating with external partners to ensure security expectations
        align with the highest industry standards.
      </p>
    </div>
  </div>
</div>
<hr />
<div class="uk-card uk-card-secondary uk-card-body uk-flex uk-flex-middle uk-width-4-5">
  <div class="uk-container">
    <div class="uk-grid-match" uk-grid>
      <div>
        <h1 class="uk-text-name uk-heading-small uk-text-uppercase">
          Experience
        </h1>
        <div>
          <p class="uk-text-uppercase">
            <u><b>ZS Associates</b> | Senior Application Security Engineer</u>
          </p>
          <p class="uk-text-subtitle uk-text-uppercase">
            August 2020 - Present
          </p>
        </div>
      </div>
      <div uk-grid>
        <ul class="uk-width-2-3 uk-timeline">
          <li class="uk-list uk-timeline-item">
            <div class="uk-timeline-icon">
              <span class="uk-badge"><span uk-icon="check"></span></span>
            </div>
            <div class="uk-timeline-content">
              <b class="uk-text-title">PENETRATION TESTING</b> <br />
              <p class="uk-text-subtitle">
                <b
                  >BURPSUITE | SQLMAP | METASPLOIT | ACUNETIX | NMAP |
                  INSIGHTAPPSEC | FORTIFY</b
                >
              </p>
              <p>
                Identified more than <b>20 critical severity</b> vulnerabilities
                across <b>10 products</b> during penetration testing activities.
                <br />
                Reported issues like XSS, SQLi, RCE & Business Logic
                Vulnerabilities in Identity, Access Management and data
                analytics applications. <br />
                Assisted the team to reduce the number of issues detected during
                external audits by <b>almost 50% over the year</b>.
              </p>
            </div>
          </li>
          <br />
          <li class="uk-list uk-timeline-item">
            <div class="uk-timeline-icon">
              <span class="uk-badge"><span uk-icon="check"></span></span>
            </div>
            <div class="uk-timeline-content">
              <b class="uk-text-title">SECURITY DASHBOARD</b> <br />
              <p class="uk-text-subtitle"><b>DJANGO | REACT</b></p>
              <p>
                Created a <b>security metrics aggregator dashboard</b> that
                helped manage issues and reduce attack surfaces in terms of
                vulnerable dependencies and SAST issues. This in turn saved
                costs on licenses for over <b>1000 SDEs and SDETs</b> across
                teams.
              </p>
            </div>
          </li>
          <br />
          <li class="uk-list uk-timeline-item">
            <div class="uk-timeline-icon">
              <span class="uk-badge"><span uk-icon="check"></span></span>
            </div>
            <div class="uk-timeline-content">
              <b class="uk-text-title">DEVSECOPS</b> <br />
              <p class="uk-text-subtitle">
                <b>TEAMCITY | BASH | POWERSHELL | PYTHON</b>
              </p>
              <p>
                Introduced <b>CI pipelines</b> for SCA and SAST with code
                deployment for <b>over 30 modules</b> which
                <b>aided in bringing down the mean time to detect</b> new
                vulnerabilities to less than a few hours from check-in.
              </p>
            </div>
          </li>
          <br />
          <li class="uk-list uk-timeline-item">
            <div class="uk-timeline-icon">
              <span class="uk-badge"><span uk-icon="check"></span></span>
            </div>
            <div class="uk-timeline-content">
              <b class="uk-text-title">CODE SCAN & REVIEW</b> <br />
              <p class="uk-text-subtitle"><b>COVERITY | DEPENDENCY TRACK</b></p>
              <p>
                Also provided code, architecture audits, and security
                assessments for ZS’s in-house products & acquisitions.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="uk-card uk-card-secondary uk-card-body uk-flex uk-flex-middle uk-width-4-5">
  <div class="uk-container">
    <div class="uk-grid-match" uk-grid>
      <div>
        <div>
          <p class="uk-text-uppercase">
            <u><b>Scrapenext Technologies</b> | Junior Python Developer</u>
          </p>
          <p class="uk-text-subtitle uk-text-uppercase">
            November 2018 - July 2019
          </p>
        </div>
      </div>
      <div uk-grid>
        <ul class="uk-width-2-3 uk-timeline">
          <li class="uk-list uk-timeline-item">
            <div class="uk-timeline-icon">
              <span class="uk-badge"><span uk-icon="check"></span></span>
            </div>
            <div class="uk-timeline-content">
              <b class="uk-text-title">PROGO</b> <br />
              <p class="uk-text-subtitle">
                <b>DJANGO | AWS</b>
              </p>
              <p>
                An online portal for student internships/hiring. Students can
                create their profiles and apply for jobs based on their skills.
                <br />
                Worked on <b>API implementation</b> for Student and Employee
                profiles.
              </p>
            </div>
          </li>
          <br />
          <li class="uk-list uk-timeline-item">
            <div class="uk-timeline-icon">
              <span class="uk-badge"><span uk-icon="check"></span></span>
            </div>
            <div class="uk-timeline-content">
              <b class="uk-text-title">GHADWA</b> <br />
              <p class="uk-text-subtitle"><b>PYTHON | AWS LAMBDA | PROWL</b></p>
              <p>
                This application allowed users to order food online.<br />
                Responsible for backend and security. Analyzed and implemented
                best practices in terms of
                <b
                  >Database, CloudFront, and WAF configurations, Logging, and
                  Monitoring</b
                >
                setup on AWS.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
