{% extends "nav/sidenav.html" %} {% block content %}

<div
  class="uk-height-large uk-card uk-card-secondary uk-card-body uk-flex uk-flex-middle"
>
  <div class="uk-grid-match" uk-grid>
    <div>
      <h1 class="uk-text-name uk-heading-small uk-text-uppercase">Articles</h1>
    </div>
    <div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse suscipit
        modi tenetur autem dicta accusantium perferendis ipsa error quas atque
        eum, magni asperiores sapiente eos molestiae, iure ea quis! Accusamus.
      </p>
    </div>
  </div>
</div>
<hr />
<div
  class="uk-card uk-card-secondary uk-card-body uk-flex uk-flex-middle uk-width-4-5"
>
  <div class="uk-container">
    <div class="uk-grid-match" uk-grid>
      <div>
        <h1 class="uk-text-name uk-heading-small uk-text-uppercase">Medium</h1>
        <div>
          <p class="uk-text-uppercase">
            <u><b>ZS Associates</b> | Senior Application Security Engineer</u>
          </p>
          <p class="uk-text-subtitle uk-text-uppercase">
            August 2020 - Present
          </p>
        </div>
      </div>
      <div uk-grid>
        <ul class="uk-width-2-3">
          <li class="uk-list">
            <iframe src="https://medium.com/@abhijitacharya793/active-directory-series-enumeration-powerview-4f7413ad50f3" frameborder="0"></iframe>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

{% endblock %}
