{% extends "nav/sidenav.html" %} {% block content %}

<div class="uk-grid-match" uk-grid>
  <div class="uk-width-1-5"></div>
  <div
    class="uk-height-large uk-card uk-card-secondary uk-card-body uk-flex uk-flex-center uk-flex-middle uk-width-4-5"
  >
    <div>
      <h1 class="uk-text-name uk-heading-small uk-text-uppercase">Contact</h1>
      <p class="uk-text-uppercase">_____ / _____ Hacker & Developer</p>
      <ul>
        <li class="uk-list">
          <span uk-icon="icon: github"> </span>
          &emsp;<a
            class="uk-link-muted"
            target="_blank"
            href="https://github.com/abhijitacharya793"
            >GitHub</a
          >
        </li>
        <li class="uk-list">
          <span uk-icon="icon: linkedin"> </span>
          &emsp;<a
            class="uk-link-muted"
            target="_blank"
            href="https://www.linkedin.com/in/abhijit-acharya-597b58126/"
            >LinkedIn</a
          >
        </li>
        <li class="uk-list">
          <span uk-icon="icon: bookmark"> </span>
          &emsp;<a
            class="uk-link-muted"
            target="_blank"
            href="https://medium.com/@abhijitacharya793"
            >Medium Blog</a
          >
        </li>
        <li class="uk-list">
          <span uk-icon="icon: mail"> </span>
          &emsp;<a
            class="uk-link-muted"
            target="_blank"
            href="mailto:abhijitacharya793@gmail.com"
            >abhijitacharya793@gmail.com</a
          >
        </li>
        <!-- <li class="uk-list">
          <span uk-icon="icon: receiver"> </span>
          &emsp;<a class="uk-link-muted" target="_blank" href="tel:+91 7715928642"
            >+91 7715928642
          </a>
        </li> -->
      </ul>
    </div>
  </div>
</div>

{% endblock %}
