{% extends "nav/sidenav.html" %} {% block content %}

<div class="uk-container">
  <div class="uk-grid-match" uk-grid>
    <div
      class="uk-height-large uk-card uk-card-secondary uk-card-body uk-flex uk-flex-center uk-flex-middle uk-width-4-5"
    >
      <div>
        <h1 class="uk-text-name uk-heading-medium uk-text-uppercase">
          Abhijit Acharya
        </h1>
        <p class="uk-text-uppercase">_____ / _____ Hacker & Developer</p>
      </div>
    </div>
    <div class="uk-width-1-5"></div>
  </div>
</div>
<hr />

{% endblock %}
